<header id="header" class="text-center">
	<h1 class="text-uppercase">Claim photo capture</h1>
</header>
<div class="text-holder clearfix">
	<strong class="heading text-center text-uppercase">Replace with any nice</strong>
	<p>A fast and easy way to capture your claim photo and documents!</p>
</div>
<div class="capture-box clearfix">
	<span class="text">Claim no: 2</span>
	<span class="name">Arslan Ahmad</span>
	<h2>Photo upload/capture</h2>
		<%= form_for @image, html: { multipart: true } do |form| %>
      <div class="frame">
        <div class="row">
          <div class="col-sm-6">
            <label>Additional photo/docs</label>
            <%= form.file_field :attachment, multiple: true, name: "attachments[]" %>
            <div class="box text-center">
              <div class="holder">
                <i class="fa fa-plus"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-check form-group">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">I agree to the <a href="#">Terms & Conditions</a></label>
      </div>
      <div class="text-center">
        <%= form.submit "Send" %>
      </div>
    <% end %>
</div>
